<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-icon class="back" name="chevron-back" (click)="dismiss();" defaultHref></ion-icon>
    </ion-buttons>
    <ion-title>Start Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon-header">
    <ion-icon class="icon-center" name="calendar-number-outline"></ion-icon>
  </div>
  <ion-card>
    <ion-card-content>
      <p>Please select the starting date and time of your job.</p>
    </ion-card-content>
  </ion-card>

  <div>
    <hr class="center-ball">
  </div>

  <ion-item>
    <ion-label>Start Date:</ion-label>
    <ion-datetime placeholder="Select Date"
    displayFormat="DDD. MMM DD, YYYY"
    dayValues={{dayValues}}
    min="{{minDate}}"
    monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec">></ion-datetime>
  </ion-item>
        
  <ion-item>
    <ion-label>Start Time:</ion-label>
    <ion-datetime placeholder="Select Time" display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
  </ion-item>

  <div>
    <hr class="center-ball">
  </div>

  <div class="centered">
    <ion-button expand="block" type="button" (click)="setInactiveDates()">SET NOW</ion-button>
  </div>
</ion-content>
