// ion-header,
// ion-toolbar {
//   //--background: #D0DEEB;
// }
* {
  font-family: var(--body-font);
}

ion-card{
  box-shadow: none;
}

ion-icon {
  font-weight: bold;
  margin-left: 40px;
  font-size: 20px;
  display: block;
}

.icon {
  font-weight: bold;
  // text-align: center;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

}

ion-textarea {
  // --placeholder-color: var(--black-gray) !important;
  --placeholder-opacity: 70%;
  font-weight: normal;
  color: var(--black-gray) !important;
  font-size: 13px;

  ion-input {
    font-weight: normal;
    color: var(--black-gray);
    font-size: 14px;
  }
}

ion-input {
  font-weight: normal;
  color: var(--black-gray);
  font-size: 14px;
}

ion-segment {
  margin-top: 0%;
}

p {
  font-weight: normal;
  color: var(--black-gray);
  font-size: 13px;
}

.back {
  color: var(--black-gray) !important;
  font-weight: bold;
  margin-left: 15px;
  font-size: 20px;
}
.add {
  color: #ffffff !important;
  font-weight: bold;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
}

ion-label {
  padding: 0px 0;   
}

.h2{
    font-family: var(--body-font);
    color: gray;
    font-weight: lighter;
    margin-top: 50%;
    font-size: 15px;
    text-align: left;
    margin-left: -240%;
}

.h1{
    font-family: var(--body-font);
    color: var(--blue-green-dark);
    font-weight: bold;
    margin-top: 50%;
    font-size: 15px;
    text-align: left;
    margin-left: -240%;   
}

.icon-violet{
    color: gray;
    font-size: 20px;
    margin-left: 5px;
    width: 100px;
    height: 100px;
}

.container{
    --background-color: #D0DEEB  !important;
    padding: 0;
    margin: 14px 0;
    border-radius: 0px;
    color: #D0DEEB;
    font-weight: 600;
}

// FOR CARDS

ion-badge{
  margin-left: 2%;
}

.text-icon{
  color: #003C77;
  white-space: initial;
  margin-left: 1%;
  font-weight: 500;
  font-size: 13px;
}

.green-badge {
  color: #2b9e4e;
  background: #5eff8e;
  border: 1px solid #2b9e4e;
  font-family: var(--body-font);
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.red-badge {
  color: #bb1b30;
  background: #f07485;
  border: 1px solid #bb1b30;
  font-family: var(--body-font);
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.icon-img{
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.header-job {
  font-weight: 550;
  font-size: 20px;
  margin-top: -10px;
  color: var(--black-gray);
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: initial;
  font-family: var(--body-font);
}

h6 {
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  color: gray;
  white-space: initial;
  font-family: var(--body-font);
  padding: 0;
  margin-top: -5px;
}

h3 {
  font-weight: 400;
  font-size: 15px;
  margin-left: -30%;
  color: gray;
  white-space: initial;
  font-family: var(--body-font);
}

.small-icon {
  font-weight: 400;
  font-size: 15px;
  margin-left: -90%;
  color: gray;
  white-space: initial;
  font-family: var(--body-font);
}

.icon-small{
  color: gray;
  font-size: 20px;
  margin-left: 2px;
  width: 18px;
  height: 18px;
  // margin-top: 20px;
}

// FOR SEGMENTS
ion-label{
  color:#003C77;
  font-weight: 700;
}

ion-card-subtitle{
  font-family: var(--body-font);
  color: rgb(80, 79, 79);
  font-weight: bolder;
  font-size: 15px;
}

ion-item {
  background: none;
  padding: 0;
  margin: 13px 0;
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
  background: var(--white);
  border: 1px solid var(--dark-blue);
}

.title-history {
  background: none;
  --background: var(--dark-blue) !important;
  padding: 0;
}

.title-job-header {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

.text-area {
  background: var(--white);
  border: 2px solid var(--dark-blue);
  box-sizing: border-box;
  height: 120px !important;
  // margin: 25px 20px 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
}

.list-history {
  background: none;
  padding: 0;
  margin: 13px 0;
  color: #000000;
  border: none;
}

.label{
  font-family: var(--body-font);
  color: rgb(80, 79, 79);
  font-weight: bold;
  font-size: 13px; 
}

// FOR BUTTONS

ion-button {
  box-shadow: none !important;
  border-style: none;
  border-style: none;
  border-radius: 0%;
  width: 45%;
  display: inline-block;
}

.upload {
  box-shadow: none !important;
  border-style: none;
  border-style: none;
  border-radius: 0%;
  width: 70%;
  --background: #30B2EA;
  display: inline-block;
  text-align: center;
}

ion-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 30px;
  // margin-bottom: 20px;
}

.icon-btn {
  font-weight: bold;
  margin-left: -20px;
  font-size: 20px;
  // display: block;
}

.btnstart{
  font-family: var(--body-font);
  color: #ffffff;
  font-weight: 700;
  --background: #30B2EA;
  border-radius: 20px;
  margin-right: 2%;
  font-size: 12px;
}

.btncom{
  font-family: var(--body-font);
  color: #ffffff;
  font-weight: 700;
  --background: #000;
  border-radius: 20px;
  font-size: 12px;
}

section {
  margin-left: 0.6em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}

// FOR LABELS
h5 {
  text-align: center;
  line-height: 1.4em;
  font-size: 12px;
  margin-top: 25px;
}

.row-labels {
  text-align: center;
}

//Responsivenes of Image
@media(max-width: 991px) {
  .icon-img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
}

@media(max-width: 767px) {
  .icon-img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
}

@media(max-width: 500px) {
  .icon-img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
}

//PHOTO/CUSTOMER
.remarks {
  background: none;
  padding: 0;
  margin: 14px 0;
  border-radius: 10px;
  color: #000000;
  font-weight: 600;
  background: var(--white);
  // border: 2px solid var(--dark-blue);

  h4 {
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
    color: var(--dark-blue);
    white-space: initial;
  }

  .image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    border: 2px solid var(--dark-blue);
  }
}

.input {
  width: fit-content;
  margin-left: 10px;
  white-space: initial;
}

.img-btn-save {
  --background: var(--dark-blue);
  color: var(--white);
  font-family: var(--body-font);
  text-align: center;
  // font-weight: bold;
  margin-left: 15px;
}

.h6-upload {
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  color: gray;
  white-space: initial;
  font-family: var(--body-font);
  padding: 0;
  margin-top: -10px;
}

//hr Class
hr{
  border: 0;
  height: 1.5px;
  width: 70%;
  position: relative;
  margin: 30px auto;
  
  
  &.center-ball{
    background: var(--black-gray);
    
    // &:before{
    //   content: "";
    //   width: 90px;
    //   height: 90px;
    //   background: var(--black-gray);
    //   display: inline-block;
    //   border: 2px solid var(--black-gray);
    //   border-radius: 50%;
    //   position: absolute;
    //   top: -4px;
    //   left: 45%;
    //   margin: 0 0 0 -3px;
    // }
  }
}

//history
// .list-history {
//   background: none;
//   padding: 0;
//   margin: 13px 0;
//   color: #000000;
//   border: none;
//   border-bottom: var(--black-gray) !important;
// }

// .history-content{
//   margin-left: 0;
// }

// .icon-history {
//   color: var(--black-gray) !important;
//   font-weight: bold;
//   font-size: 30px;
// }

// .header-title {
//   font-weight: 550;
//   font-size: 18px;
//   color: var(--black-gray);
//   padding: 0;
//   text-align: left;
//   margin-left: -3px;
//   white-space: initial;
//   font-family: 'Poppins', sans-serif;
// }

// .purple-badge {
//   color: #bb1b30;
//   background: #f07485;
//   font-family: 'Poppins', sans-serif;
//   width: 40%;
//   height: 20%;

//CHECKLIST
.add{
  --color: var(--black-gray);
    font-weight: bold;
    font-size: 20px;
}

.checklist {
  color: var(--dark-blue) !important;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0%;
  white-space: initial;
}

//HISTORY
.card-jeep {
  margin: 30px 20px 0px 20px;
  padding: 8px;
  border-radius: 20px;
  background: #ecfffd;
}

.btn-history {
  --background: var(--dark-blue);
  --border-width: 50% !important;
  width: 90%;
  font-style: normal;
  color: var(--white);
  font-family: var(--body-font);
  //font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

ion-card-title {
  color: var(--white);
  display: inline-block;
  vertical-align: middle;
}

/* Title in History Card */
.text {
  color: var(--white);
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

/* Title in Job Header */
.text-header {
  color: var(--black-gray);
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.title-checklist{
  color: var(--black-gray);
}

.offer-bg{
  background-color: var(--dark-blue);
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 15px;
}

.offer-content{
  margin-top: 4%;
}

.ion-card-offer {
  margin: 10px 0px 5px 0px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--light-gray);
  border: 1px solid var(--dark-blue);
}

.badge-history {
  font-family: var(--body-font);
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}

.p-history {
  // font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  color: var(--black-gray);
  white-space: initial;
  font-weight: 500;
}

.history-content {
  margin-left: 10px;
  color: var(--black-gray);
  white-space: initial;
  font-weight: 500;
}

ion-list-header {
  font-weight: bold;
  font-size: 17px;
  color: var(--black-gray);
}

.history-complete {
  color: var(--green-success);
  font-size: 20px !important;
  margin-left: -5px;
}

.history-time {
  color: var(--black-gray);
  font-size: 20px !important;
  margin-left: -5px;
}

.history-close {
  color: var(--red-warning);
  font-size: 20px !important;
  margin-left: -5px;
  // background: var(--dark-blue);
  // border-radius: 50%;
}

.history-h6 {
  margin: 0;
}

.grid-history {
  margin-top: -10px;
}

// ion-content ion-progress-bar {
//   margin: 10px 0;
// }

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.container1 {
  padding: 10px 40px;
}

.container1 ul {
  list-style: none;
  position: relative;
  padding: 0;
}

.container1 ul::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--gray);
}

.container1 ul li { 
  padding: 20px 20px;
}

.container1 ul li div {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 20px;
  white-space: initial;
}

.container1 ul li span {
  color: var(--dark-blue);
  font-weight: 600;
  position: absolute;
  left: -25px;
  font-size: 12px;
  background-color: var(--white);
  padding: 5px 0;
}

//SIGNATURE
canvas {
  display: block;
  box-shadow: 0 0 5px 1px #999;
  margin: 2em auto;
}

.clean-btn {
  --background: var(--dark-blue);
  color: var(--white);
  font-family: var(--body-font);
  text-align: center;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 20px;
  font-weight: bold;
}

.signature-btn {
  --background: var(--dark-blue);
  color: var(--white);
  font-family: var(--body-font);
  text-align: center;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

//STYLING ION-SELECT, ION-SELECT-OPTIONS
ion-select {
  /* Applies to the value and placeholder color */
  color: #545ca7;

  /* Set a different placeholder color */
  --placeholder-color: #971e49;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}

/* Set the flex in order to size the text width to its content */
ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

/* Set the placeholder color and opacity */
ion-select::part(placeholder) {
  color: var(--dark-blue);
  font-weight: normal;
  font-size: 14px;
  opacity: 1;
}

/*
 * Set the font of the first letter of the placeholder
 * Shadow parts work with pseudo-elements, too!
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
 */

/* Set the text color */
ion-select::part(text) {
  color: #545ca7;
  font-weight: normal;
  font-size: 14px;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  color: var(--dark-blue);
  opacity: 1;
}

/* Ion-select-items scss */
ion-alert div[class='alert-radio-label'] { background-color: red; }