* {
  font-family: var(--body-font);
}

ion-header, ion-toolbar {
  --background: var(--dark-blue);
}

ion-title {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
}

ion-card {
  margin: 30px 25px 0px 25px;
  border-radius: 15px;
  border: 1px solid var(--black-gray);
  background: var(--light-gray);
}

p{
    // margin: 10px;
    // font-weight: bold;
    font-size: 13px;
    color: var(--black-gray);
    line-height: 1.7em;
}

.back{
    color: var(--white) !important;
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
}

.container1 {
    padding: 10px 40px;
    margin-top: -8%;
}

.container1 ul {
    list-style: none;
    position: relative;
    padding: 0;
}

.container1 ul::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--gray);
}

.container1 ul li { 
    padding: 20px 20px;
}

.container1 ul li div {
    padding: 5px 0px;
    font-size: 14px;
    margin-left: 25px;
    white-space: initial;
}

.container1 ul li span {
    color: var(--dark-blue);
    font-weight: 600;
    position: absolute;
    left: -25px;
    font-size: 12px;
    background-color: var(--white);
    padding: 5px 0;
}

@media(max-width: 320px) {
    p{
        // margin: 10px;
        // font-weight: bold;
        font-size: 12px;
        color: var(--black-gray);
        line-height: 1.7em;
    }

    .container1 ul li div {
        padding: 5px 0px;
        font-size: 12px;
        margin-left: 25px;
        white-space: initial;
    }
}