<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon class="back" name="chevron-back" (click)="dismiss();" defaultHref></ion-icon>
    </ion-buttons>
    <ion-title>Detailed Job History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p><strong>Technician Name: </strong>Juan Dela Cruz</p>
      <p><strong>Started Job: </strong>03-18-22</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <div class="container1">
      <ul>
        <li>
          <span>04-02-22</span>
          <div>Completed</div>
        </li>

        <li>
          <span>04-02-22</span>
          <div>Sent to Destination</div>
        </li>

        <li>
          <span>04-01-22</span>
          <div>Pending in Warehouse</div>
        </li>

        <li>
          <span>03-27-22</span>
          <div>Fix Electrical Circuit in 1st Floor</div>
        </li>

        <li>
          <span>03-25-22</span>
          <div>Component Failure</div>
        </li>

        <li>
          <span>03-22-22</span>
          <div>Sent to the Initial Place</div>
        </li>

        <li>
          <span>03-18-22</span>
          <div>Start Job</div>
        </li>

        <li>
          <span>03-18-22</span>
          <div>Sent to Technician</div>
        </li>
      </ul>
    </div>
  </ion-list>
</ion-content>
