<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col width-45>
        <ion-title>Job Service Manager</ion-title> 
      </ion-col>
      <ion-col width-55 padding-vertical>
        <ion-icon class="header-icon" name="exit-outline" (click)="logout()"></ion-icon>
      </ion-col>              
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="text-center">
    <!-- IMAGE DISPLAYED -->
    <div>
      <img class="img1" src="/assets/icon/technician.svg" alt="Rectangle-219-1" border="0">
    </div>
  
    <!-- LEGENDS -->
    <div class="legend" horizontal="end">
      <div class="badge">
        <ion-badge class="badge-assigned">Assigned</ion-badge>&nbsp;
        <ion-badge color="success">Completed</ion-badge>
      </div>
    </div>
  
    <!-- DATE INFO -->
    <div class="header">
      <h3><span>3</span> Assigned Jobs</h3>
      <h3 class="today">TODAY</h3>
      
      <h1><ion-datetime [(ngModel)]="date"
        displayFormat="DD" readonly>
      </ion-datetime></h1>
      
      <h2><ion-datetime [(ngModel)]="dates"
      displayFormat="DDD" readonly></ion-datetime></h2> 
    </div>
  </div>

    <!-- CONTENT SEGMENT -->
    <ion-segment 
    value="summary" 
    scrollable="true"
    color="tertiary"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
  
      <ion-segment-button value="assigned">
        <ion-label>Assigned</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="segment" *ngIf="segmentModel === 'assigned'">
      <div class="container">
        <!-- LIST VIEW OF ASSIGNED JOBS -->
        <ion-item *ngFor="let data of Data">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-icon class="icon-violet" name="ellipse"></ion-icon>
              <ion-col size="9">
                <ion-label>
                  <h4>{{data.location_name}}</h4>
                  <h6>{{data.tasks_name}}</h6>
                  <h3>{{data.time_name}}</h3>
                  <h3>{{data.service_request}}</h3>
                </ion-label>
              </ion-col>
              <ion-icon name="person" [routerLink]="['/members/tab2', data.id]"></ion-icon>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
    
    <div class="segment" *ngIf="segmentModel === 'completed'">
    
      <div class="container">
        <!-- LIST VIEW OF COMPLETED JOBS -->
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-icon class="icon-success" name="ellipse"></ion-icon>
              <ion-col size="9">
                <ion-label>
                  <h4>Dunbrae Warehouse</h4>
                  <h6>Water Cleaning Equipment</h6>
                  <h3><strong>Completed:</strong> 03-20-22</h3>
                </ion-label>
              </ion-col>
              <ion-icon name="person" (click)="openJobSummary()"></ion-icon>
            </ion-row>
          </ion-grid>
        </ion-item>
    
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-icon class="icon-success" name="ellipse"></ion-icon>
              <ion-col size="9">
                <ion-label>
                  <h4>Subic Castillejos</h4>
                  <h6>Installation Commission</h6>
                  <h3><strong>Completed:</strong> 12-20-21</h3>
                </ion-label>
              </ion-col>
              <ion-icon name="person" (click)="openJobSummary()"></ion-icon>
            </ion-row>
          </ion-grid>
        </ion-item>  
      </div>
    </div>
</ion-content>
