@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;800&display=swap'); 

* {
  font-family: 'Poppins', sans-serif;
}

ion-header,
ion-toolbar {
  --background: var(--dark-blue);
}

ion-icon {
  color: var(--dark-blue);
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
  text-align: right;
}

ion-title {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  font-weight: 500;
}

ion-content {
  font-family: 'Poppins', sans-serif;
}

ion-card-title{
  font-size: 16px;
  margin-top: 50px;
}

ion-col > div {
  background-color: #f7f7f7;
  border: solid 1px #ddd;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

ion-button {
  box-shadow: none !important;
  border-style: none;
  border-style: none;
  border-radius: 0%;
  width: 23%;
  display: inline-block;
}

section {
  margin-top: 1em;
  margin-bottom: 2.5em;
  margin-left: 0.6em;
}

section:not(.full-width),
.full-width > header {
  padding: 0 10px;
}

.btn-month {
  color: #3699FF;
  --background: #E1F0FF;
  box-shadow: none !important;
  border-style: none;
  border-radius: 0%;
  width: 23%;
  display: inline-block;
}

.icon-violet{
  color: var(--dark-pink);
  font-size: 20px;
  margin-left: 5px;
}

.icon-success{
  color: var(--green-success);
  font-size: 20px;
  margin-left: 5px;
}

.header{
  margin-top: 0px;

  span{
    color: var( --red-warning);
    font-weight: bold;
  }

  h1{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-blue);
    font-weight: bold;
    // text-align: center;
    font-size: 60px;
    margin-left: 25px;
    margin-top: -5px;
  }
  
  h2{
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: bold;
    // text-align: center;
    font-size: 25px;
    margin-top: -13px;
    margin-left: 25px;
  }

  h3{
    margin: 30px 0px 0px 25px;
    color: var(--black-gray);
    font-size: 19px;
  }
}

.container {
  margin-top: -40px;
  padding: 6px 20px;
  border-radius: 50px;

  ion-col {
    margin-left: 0;
  }

  ion-item {
    background: none;
    padding: 0;
    margin: 14px 0;
    border-radius: 10px;
    color: #000000;
    font-weight: 600;
    background: var(--white);
    border: 2px solid var(--dark-blue);

    ion-label {
      padding: 0px 0;

      h4 {
        font-weight: 600;
        font-size: 16px;
        margin-left: 10px;
        color: var(--dark-blue);
        white-space: initial;
      }
      h6, h3 {
        color: var(--black-gray);
        margin-left: 10px;
      }
    }
  }
}

ion-badge {
  top: -10px;
  right: 10px;
  font-weight: normal;
}

.badge-assigned{
  background-color: var(--dark-pink);
}

.legend {
  text-align: right;
  margin-right: 15px;
  margin-top: -20px;
}

.inside-legend{
  color: var(--black-gray);
}

.header-icon {
  color: var(--white);
  font-weight: bold;
  margin-left: 70%;
  font-size: 25px;
  text-align: right;
}