<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-icon class="back" name="chevron-back" (click)="dismiss();" defaultHref></ion-icon>
    </ion-buttons>
    <ion-title>Pressure Test & Calibration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-card">
    <br>
    <ion-label>1. Water Line Pressure Setting</ion-label>
    <div class="label-unit">
     <ion-label class="label" position="stacked">Unit</ion-label>  
    </div>
    <ion-input placeholder="Bar" type="number"></ion-input>
    <div class="label">
      <ion-label class="label" position="stacked">Remarks</ion-label>  
     </div>
    <ion-textarea placeholder="Input Remarks here"></ion-textarea>
   
    <br><br>
    <ion-label>2. Hot Water Temperature</ion-label>
    <div class="label-unit">
     <ion-label class="label" position="stacked">Unit</ion-label>  
    </div>
    <ion-input placeholder="Bar" type="number">
    </ion-input>
    <div class="label">
      <ion-label class="label" position="stacked">Remarks</ion-label>  
     </div>
    <ion-textarea placeholder="Input Remarks here"></ion-textarea>

    <br><br>
    <ion-label>3. Pump Pressure Setting</ion-label>
    <div class="label-unit">
     <ion-label class="label" position="stacked">Unit</ion-label>  
    </div>
    <ion-input placeholder="Bar" type="number">
    </ion-input>
    <div class="label">
      <ion-label class="label" position="stacked">Remarks</ion-label>  
     </div>
    <ion-textarea placeholder="Input Remarks here"></ion-textarea>

    <br><br>
    <ion-label>4. Steam Boiler Setting</ion-label>
    <div class="label-unit">
     <ion-label class="label" position="stacked">Unit</ion-label>  
    </div>
    <ion-input placeholder="Bar" type="number">
    </ion-input>
    <div class="label">
      <ion-label class="label" position="stacked">Remarks</ion-label>  
     </div>
    <ion-textarea placeholder="Input Remarks here"></ion-textarea>
	</ion-card>

</ion-content>
